body {
  background-color: lightgray;
}

button {
  font-size: 16px;
  padding: 6px 8px;
  font-weight: 600;
  cursor: pointer;
}

h1 {
  color: green;
}

.sharedMessage {
  color: orange;
  font-size: 16px;
  background-color: black;
  width: max-content;
  padding: 4px;
}
