* {
  box-sizing: border-box;
}

article {
  padding-block: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background-color: #77b5f2;
  margin: 0;
  width: 400px;
  max-width: 80vw;
  height: 600px;
  max-height: 90vh;
  margin-top: 40px;
  margin-inline: auto;
}

.screen {
  border-radius: 5px;
  grid-column: span 5;
  background-color: lightgrey;
  color: #fff;
  text-align: right;
  margin: 20px;
  margin-bottom: 40px;
  font-size: 2em;
}

#calc-screen {
  width: 100%;
  border: none;
  background: none;
  color: #fff;
  font-size: 2em;
  text-align: right;
  display: inline-block;
  padding-right: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.operation-mark {
  font-size: 20px;
}

button {
  width: 100%;
  height: 60px;
  font-size: 1.5em;
  border: none;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

button:active {
  background-color: #bbb;
}

.operation-equal {
  grid-column: span 2;
  /* grid-row: span 2; */
}

.grid-item.operation-mark.equal button {
  min-height: 120px;
  height: 100%;
}

.grid-item.reset {
  font-size: 0.8rem;
  grid-column: span 2;
}
