<form action="" class="gallery-form">
    <h3>Select a category:</h3>
    <select id="nature">
        <option disabled selected>Nature</option>
        <option value="forest">Forest</option>
        <option value="lake">Lake</option>
        <option value="mountain">Mountains</option>
        <option value="desert">Desert</option>
        <option value="island">Islands</option>
        <option value="ocean">Ocean</option>
        <option value="sea">Sea</option>
    </select>
    <select id="cities">
        <option disabled selected>Cities</option>
        <option value="Kyiv">Kyiv</option>
        <option value="Astana">Astana</option>
        <option value="Minsk">Minsk</option>
        <option value="Tbilisi">Tbilisi</option>
        <option value="Warsaw">Warsaw</option>
        <option value="Vilnius">Vilnius</option>
        <option value="Riga">Riga</option>
    </select>
    <select id="sport">
        <option disabled selected>Sport</option>
        <option value="football">Football</option>
        <option value="basketball">Basketball</option>
        <option value="tennis">Tennis</option>
        <option value="swimming">Swimming</option>
        <option value="golf">Golf</option>
        <option value="hockey">Hockey</option>
    </select>
</form>