.gallery-form {
  max-width: 1280px;
  min-height: 22px;
  padding-inline: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: end;

  h3 {
    color: var(--main-text-color);
  }

  select {
    color: var(--gallery-text);
    cursor: pointer;
  }
}

.image-galley {
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 486px;
}

@include tablet() {
  .gallery-form {
    justify-content: center;
  }
  .gallery-form h3 {
    text-align: center;
    width: 100%;
  }
}
