#grid {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-x: hidden;
}

.img {
  width: 400px;
  max-width: 96vw;
  height: 214px;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
}
