<template id="helpDialog">
  <div class="help-info">
    <h3 class="help-info-title">How to play</h3>
    <p class="help-text">First left-click: to paint over the cell</p>
    <p class="help-text">Second left-click: to cleare the cell</p>
    <p class="help-text"
      >Right-Click or long touch on mobile: to exclude the cell (x)</p
    >
    <p class="help-text"
      >Victory Condition: All necessary cells are filled in, The remaining cells
      are either empty or excluded (x)
    </p>
    <button class="control-btn ok">OK</button>
  </div>
</template>
