* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.registration-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.registration-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.registration-form .form-group {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 15px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.registration-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.registration-form input.error {
  border-color: red;
}

.registration-form .error-message {
  box-sizing: content-box;
  color: red;
  font-size: 12px;
  height: 14px; /* Предполагаемая высота строки ошибки */
  margin-bottom: 12px;
}

.registration-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.registration-form button:hover {
  background-color: #45a049;
}
