button {
  cursor: pointer;
}

.title {
  color: blue;
}

.subtitle {
  font-size: 1.2rem;
}

.orange-text {
  color: orange;
}

.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 24px;
  cursor: pointer;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
