<form class="settings-container">
  <h3 class="difficulty-label form-title">Game Settings</h3><label class="difficulty-label"><span
      class="label-title">Player Name:</span><input placeholder="unknown player" maxlength="12"
      id="playerName"></label><label class="difficulty-label" for="difficulty-select"><span class="label-title">Choose
      Difficulty:</span><select id="difficulty-select" name="difficulty">
      <option value="easy" class="difficulty-option">Easy (5x5)</option>
      <option value="medium" class="difficulty-option">Medium (10x10)</option>
      <option value="hard" class="difficulty-option">Hard (15x15)</option>
    </select></label><label class="nonogram-names-label" for="nonogram-names-select"><span class="label-title">Choose a
      Nonogram:</span><select id="nonogram-names-select" name="nonogram-names">
      <option value="Dinosaur" class="nonogram-names-option">Dinosaur</option>
      <option value="Fortress" class="nonogram-names-option">Fortress</option>
      <option value="Plane" class="nonogram-names-option">Plane</option>
      <option value="Goblet" class="nonogram-names-option">Goblet</option>
      <option value="Skull" class="nonogram-names-option">Skull</option>
    </select></label><input type="submit" class="control-btn start-game-btn" value="Start Game">
</form>