<header>
  <div class="header__container app-container">
    <a class="header__link nonograms" href="{=$hrefHome}">
      <h1 class="app-title">Nonograms</h1>
    </a>
    <!-- <a href="/AlexHiriavenko/Palmo-Edu/Photo-Gallery-Page/">Photo-Gallery-Page</a> -->
    <a class="header__link gallery" href="{=$hrefGallery}">Photo Gallery</a>
    <div class="header__btn-group">
      <button class="header__btn turn-music off" title="Music">
          <load ="/components/header/musicIcon.html" />
      </button>
      <label class="switch-theme__label" title="Display Mode">
        <input class="switch-theme__input" type="checkbox" />
        <span class="switch-theme__span"></span>
      </label>
    </div>
  </div>
</header>

