@import "./theme.scss";
@import "./mixin";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#app {
  min-height: 100vh;
}

.app-container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 10px;
}

@import "../components/header/header";
@import "../components/gameButtons/gameButtons";
@import "../components/modal/modal";
@import "../components/newGameDialog/newGameDialog";
@import "../components/gameContainer/gameContainer";
@import "../components/nonogramTable/nonogramTable";
@import "../components/howToPlayDialog/howToPlay";
@import "../components/gameRecordsTable/gameRecordsTable";
@import "../Photo-Gallery/styles";
