@import url("./header.css");

:root {
  --header-height: 72px;
}

.center-x {
  transform: translate(-50%, 0);
}

.app-main {
  background-color: rgb(37, 50, 57);
}

.views {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.views.home {
  background-image: url("../imgs/Background2.jpg");
}

.views.favorites {
  background-image: url("../imgs/Background3.jpg");
}

.views.booking {
  background-image: url("../imgs/volleyball.jpg");
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}
